Repository sm4rtm4art/LLM_RAG_Frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, type-check, prettier, test-affected

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1024']

  - repo: local
    hooks:
      - id: lint
        name: Lint
        entry: pnpm lint
        language: system
        types: [file]
        files: '\.(ts|tsx|js|jsx)$'
        pass_filenames: false

      - id: type-check
        name: Type check
        entry: pnpm tsc --noEmit
        language: system
        types: [file]
        files: '\.(ts|tsx)$'
        pass_filenames: false

      - id: prettier
        name: Format
        entry: pnpm format
        language: system
        types: [file]
        files: '\.(ts|tsx|js|jsx|json|css|scss|md)$'
        pass_filenames: false

      - id: test-affected
        name: Test affected files
        entry: pnpm test-affected
        language: system
        types: [file]
        files: '\.(ts|tsx|js|jsx)$'
        pass_filenames: false

upgrade: ci_cd, pre-commit
  .github/workflows/ci_cd.yaml
  scripts/fix-gpg-signing.sh
Due: none

upgrade: ci_cd, pre-commit
  README.md
  public/screenshot.png
Due: prettier

Create LICENSE
  LICENSE
Due: none

fix: wrap PDF viewer in I18nProvider for prerendering
  app/pdf-viewer/page.tsx
Due: lint, type-check, prettier, test-affected

feat: add comments for FastAPI integration
  app/api/conversation/route.ts
  app/api/conversation/upload/route.ts
  app/api/documents/download/[id]/route.ts
  app/api/documents/view/[id]/route.ts
  app/api/health/route.ts
  app/api/pdf/compare/route.ts
  app/api/pdf/download/route.ts
  app/api/pdf/view/route.ts
  app/api/query/route.ts
  components/chat/file-upload.tsx
  components/knowledge-base/knowledge-base-interface.tsx
  components/pdf/pdf-viewer.tsx
  hooks/use-chat.ts
  hooks/use-query.ts
  services/api-service.ts
Due: lint, type-check, prettier, test-affected

feat: add loading animation component and context
  app/layout-with-loading.tsx
  app/loading-demo/page.tsx
  components/demo/loading-demo.tsx
  components/example/loading-example.tsx
  components/ui/loading-overlay.tsx
  contexts/loading-context.tsx
  hooks/use-api-with-loading.ts
  hooks/use-chat-with-loading.ts
  hooks/use-loading-overlay.ts
  hooks/use-query-with-loading.ts
  lib/i18n/translations-loading.ts
  services/api-service-with-loading.ts
Due: lint, type-check, prettier, test-affected

Screenshot
  public/screenshot.png
Due: none

Add screenshot.png and fix dependency vulnerabilities
  package.json
  pnpm-lock.yaml
  public/screenshot.png
Due: prettier

feat: fork React frontend and add mock API routes
  app/api/conversation/route.ts
  app/api/conversation/upload/route.ts
  app/api/documents/download/[id]/route.ts
  app/api/documents/view/[id]/route.ts
  app/api/health/route.ts
  app/api/pdf/compare/route.ts
  app/api/pdf/download/route.ts
  app/api/pdf/view/route.ts
  app/api/query/route.ts
  app/layout-with-loading.tsx
  app/loading-demo/page.tsx
  app/pdf-viewer/page.tsx
  components/chat/file-upload.tsx
  components/demo/loading-demo.tsx
  components/example/loading-example.tsx
  components/knowledge-base/knowledge-base-interface.tsx
  components/pdf/pdf-viewer.tsx
  components/ui/loading-overlay.tsx
  contexts/loading-context.tsx
  hooks/use-api-with-loading.ts
  hooks/use-chat-with-loading.ts
  hooks/use-chat.ts
  hooks/use-loading-overlay.ts
  hooks/use-query-with-loading.ts
  hooks/use-query.ts
  lib/i18n/translations-loading.ts
  package.json
  pnpm-lock.yaml
  public/screenshot.png
  services/api-service-with-loading.ts
  services/api-service.ts
Due: lint, type-check, prettier, test-affected

chore: upgrade dependencies, fix vulnerabilities, and migrate to Tailwind v4
  .cursor/.cursorrules
  app/globals.css
  app/pdf-viewer/page.tsx
  components/pdf/pdf-document-viewer.tsx
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  tsconfig.json
Due: lint, type-check, prettier, test-affected

Delete .cursor directory
  .cursor/.cursorrules
Due: none

Update package.json
  package.json
Due: prettier

Fix JSON formatting in package.json
  package.json
Due: prettier
